.container {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
}

.card {
    position: relative;
    flex: 1;
    padding: 100px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title {
    font-size: 43px;
    margin: 0;
}

.brand{
    color: green;
    font-weight: bold;
    font-size: 3.38rem;
}

.desc {
    font-size: 20px;
    margin: 0;
}


.button {
    border: none;
    background-color: rgb(97, 66, 84);
    width: 100px;
    width: 100px;
    color: white;
    padding: 20px;
    font-weight: bold;
    letter-spacing: .051rem;
    border-radius: 10px;
}
