.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: rgb(108, 129, 123);
    color: white;
    padding: 1.75rem;
}

.listItem {
    display: inline;
    margin-right: 30px;
    font-size: 14px;
    color: lightgray;
    border: 1.55px solid rgb(97, 66, 84);
    padding: 5.5px;
    border-radius: 4px;
}

.listItem:hover {
    background-color: rgb(45, 16, 56);
    cursor: pointer;
}